.bodyCart {
  background-color: #f8f3d9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70rem;
}

.totalApagar {
  background-color: #fff;
  width: 90%;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin-top: -1rem;
  margin-bottom: 1rem;
  box-shadow: 10px 10px 5px #c7be49;
}

.totalApagar p {
  margin: 1rem;
  padding-right: 8rem;
  font-size: 3rem;
  text-align: end;
}

.mensajeCarrito {
  font-size: 3rem;
}

.volverAtras,
.pasarApagar {
  background: radial-gradient(
    circle,
    rgba(245, 162, 46, 0.801) 0%,
    rgba(243, 207, 117, 0.904) 0%,
    rgba(255, 185, 21, 0.863) 95%
  );
  color: #000000;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
  height: 5rem;
  width: 18rem;
  font-size: 2rem;
}

.volverAtras:hover,
.pasarApagar:hover {
  background: radial-gradient(
    circle,
    rgba(241, 172, 76, 0.685) 0%,
    rgba(247, 217, 140, 0.685) 0%,
    rgba(233, 166, 9, 0.692) 95%
  );
}

.volverAtras:active,
.pasarApagar:active {
  color: white;
  background: radial-gradient(
    circle,
    rgba(245, 162, 46, 0.801) 0%,
    rgba(243, 207, 117, 0.904) 0%,
    rgba(255, 185, 21, 0.863) 95%
  );
  box-shadow: 0 5px
    radial-gradient(
      circle,
      rgba(245, 162, 46, 0.801) 0%,
      rgba(243, 207, 117, 0.904) 0%,
      rgba(255, 185, 21, 0.863) 95%
    );
}

.pasarApagar {
  margin-bottom: 3rem;
  margin-left: 15rem;
  width: 15rem;
  height: 4.5rem;
  font-size: 2rem;
}
.spinner-border {
  width: 5rem;
  height: 5rem;
}

@media screen and (max-width: 1000px) {
  .bodyCart {
    height: fit-content;
  }
}

@media screen and (max-width: 600px) {
  .totalApagar p {
    text-align: center;
    padding-right: 0rem;
  }
  .buttonToPay {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pasarApagar {
    margin-top: 1rem;
    margin-left: 0rem;
  }
}
