.myAccountContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 60rem;
}

.containerDetailInfo{
    background-color: #fff;
    margin: 2rem;
    width: 80%;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 10px 10px 5px #c7be49;
    padding: 5rem;
    font-size: 2rem;
}
table{
    font-size: 2rem
}