.cardProducto {
  display: flex;
  flex-direction: column;
  width: 35rem;
  height: fit-content;
  box-shadow: 2px 10px 24px -2px rgba(0, 0, 0, 0.75);
  background: linear-gradient(180deg, rgb(0, 0, 0) 78%, #b88612ee 95%);
  color: #fafafa;
  border-radius: 1rem;
}

.cardProducto:hover {
  transform: scale(1.03);
  transition: 0.2s all ease-in-out;
}



.cardImage {
  width: 100%;
  height: 100%;
}

.name {
  font-size: 2.5rem;
  margin-top: 1rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

.price{
  font-size: 3rem;
  margin: 1rem 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.stock{
  font-size: 1.5rem;
  color: #FFFF;
  margin: 1rem 0;
  font-family: 'Raleway', sans-serif;
  background: transparent;
}


.verMas {
  background: radial-gradient(
    circle,
    #f5a22ecc 0%,
    #f3cf75e7 0%,
    #ffb915dc 95%
  );
  color: #000000;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  height: 4.5rem;
  width: 100%;
  font-size: 2.8rem;
  
}

.linkVerMas {
  line-height: 0px;
}

.verMas:hover {
  background: radial-gradient(
    circle,
    rgba(241, 172, 76, 0.685) 0%,
    rgba(247, 217, 140, 0.685) 0%,
    rgba(233, 166, 9, 0.692) 95%
  );
}

.verMas:active {
  background: radial-gradient(
    circle,
    rgba(245, 162, 46, 0.801) 0%,
    rgba(243, 207, 117, 0.904) 0%,
    rgba(255, 185, 21, 0.863) 95%
  );
  box-shadow: 0 5px
    radial-gradient(
      circle,
      rgba(245, 162, 46, 0.801) 0%,
      rgba(243, 207, 117, 0.904) 0%,
      rgba(255, 185, 21, 0.863) 95%
    );
}
