.grillaProductos{
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat( auto-fit, minmax(35rem, 1fr) );
    align-items: center;
    justify-items: center;
    background: linear-gradient(180deg, #adaba7 0%, #535353 100%);
    padding: 4rem 0;
}
